/* CSS for app */

.btnGreen{
    -fx-background-color:  #3cbc53;
}

.background{
    -fx-background-color: dodgerblue;
}

.backgroundlight{
    -fx-background-color: lightgrey;
}

.nobackground{
    -fx-background-color: white;
}
